.test{
  position: relative;
  height: 80vh;
 
}
.HomeWelcome {
  font-weight: 600;
  color: #46ca6e;
  
}
.HomeBest {
  float: right;
  font-weight: 600;
  color: rgb(218, 90, 214);
}


.chukay-container {
  margin-top: 50px;
}

 

.chukay-heading {
 
  color: #007bff;
  margin-bottom: 30px;
}

.chukay-paragraph {
 
  margin-bottom: 20px;
}

 
#news-and-updates {
  padding-top: 100px; /* or whatever value works for your layout */
  margin-top: -100px; /* or the negative value of the padding-top */
}